body{
    margin: 0;
    padding: 0;
    font-family: Ariel, sans-serif;
    background: #f0f0f0;
  }
  header{
    background: linear-gradient (to right, #00a6a6, #0070b8);
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  h1{
    margin: 1;
  }
  nav{
    background: linear-gradient (to right, #00a6a6, #0070b8);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .1);
  }
  nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient (to right, #0070b8, #00a6a6);
  }
  nav ul li{
    margin: 10px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s ease;
  }
  nav ul li a:hover,
  nav ul li a.active{
    background-color: #005f5f;
  }
  .container{
    max-width: auto;
    height: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .1);
  }